{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="text-4xl text-success mb-4">Design List</h1>
    <button class="btn btn-primary mb-4" onclick="design_modal.showModal()">
        Create New Design
    </button>
    {% include 'partials/add-design-modal.html' %}

    <label class="input input-bordered flex items-center gap-2 mb-2">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
        >
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
        </g>
        </svg>
        {% include 'partials/spinner.html' %}
        <input 
            type="search"
            class="grow"
            required placeholder="Search"
            name="search"
            hx-get="{% url 'search' %}"
            hx-trigger="keyup delay:500ms"
            hx-target="#designs-list"
            hx-indicator="#spinner"
            hx-on::before-request="document.getElementById('designs-list').style.opacity=0.4"
            hx-on::after-request="document.getElementById('designs-list').style.opacity=1.0"
            />
    </label>

    {% include 'partials/design-list.html' %}

</div>

{% endblock %}

{% block script %}
<script>document.addEventListener('DOMContentLoaded', () => {
        const dialog = document.getElementById('design_modal');
        const closeBtn = document.getElementById('close-design-modal');

        if (dialog && closeBtn) {
            closeBtn.addEventListener('click', () => {
                dialog.close();
            });
        }
    });
</script>
{% endblock %}