<dialog id="design_modal" class="modal">
    <div class="modal-box">
        <button type="button" id="close-design-modal" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        
        <h3 class="font-bold text-lg mb-4">Add New Design</h3>
        
        
        <form method="post" class="mb-4">
            
            {% csrf_token %}

            {% for field in form %}
                <div class="form-control w-full mb-4">
                    <label class="label {% if field.field.widget.input_type == 'checkbox' %}cursor-pointer{% endif %}">
                    {% if field.field.widget.input_type == 'checkbox' %}
                        <span class="label-text">{{ field.label }}</span>
                        {{ field }}
                    {% else %}
                        <span class="label-text">{{ field.label }}</span>
                    </label>
                    {{ field }}
                    {% endif %}
                    
                    {% if field.errors %}
                    <label class="label text-error">
                        {{ field.errors }}
                    </label>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Create Design</button>
            </div>
        </form>
    </div>
</dialog>